/*-----------------------------------*\
 * #ADMIN PORTAL 
\*-----------------------------------*/

main {
  min-height: 100vh;
}

.admin-panel {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0 !important;
}

.admin-panel ul {
  padding: 0 1rem;
}

.admin-drawer-btn {
  padding: 0 !important;
  font-size: 1.5em;
  color: var(--white);
}

.admin-drawer-btn:hover {
  cursor: pointer;
  color: var(--citrine);
}

.admin-navigation-bar {
  width: 20rem;
  position: fixed;
  background-color: #343a40;
  color: var(--white);
  top: 0;
  left: 0;
  z-index: 5;
  min-height: 100vh;
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.admin-navigation-bar.closed {
  transform: translateX(-100%);
}

.admin-header-section {
  padding: 5%;
  background-color: #20252a;
  color: var(--white);
}

.admin-navigation-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-navigation-icons .admin-logo i {
  font-size: 3.5rem;
}

.admin-navigation-icons .toggle-icon i,
.admin-panel ul i {
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-navigation-icons .toggle-icon i:hover,
.admin-panel ul i:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  color: var(--black);
  opacity: 0.8;
}

.admin-navigation-icons .toggle-icon i:hover {
  background-color: var(--citrine);
}

.admin-panel ul i:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.admin-info-heading {
  margin-top: 2rem;
}

.admin-info-heading h1,
.admin-info-heading h2 {
  font-weight: 400;
}

.admin-info-heading h5,
.admin-info-heading h5 {
  font-weight: 300;
}

.admin-user-access-section li {
  list-style: none;
}

.admin-user-access-section h5 {
  font-weight: 300;
  margin: 1rem;
}

.main-list .main-list-heading {
  background-color: #20252a;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.main-list .main-list-heading h5:hover,
.main-list-heading i,
.main-list:hover {
  cursor: pointer;
}

.main-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-list-heading i {
  transition: transform 0.5s ease;
}

.rotate180 {
  transform: rotate(180deg);
}

.selected {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.1);
}

.sub-list {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.sub-list:not(.closed) {
  height: auto;
}

.sub-list > li {
  padding: 0.8rem 2rem;
}

.sub-list > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sub-list > li > a {
  color: var(--white);
  font-size: 0.95em;
  font-weight: 300;
  text-decoration: none;
}

.manage-staff-container-section,
.manage-customer-container-section,
.manage-Movie-container-section,
.manage-TvSeries-container-section,
.manage-TvSeriesEpisodes-container-section {
  margin: 4rem 5rem 5rem 4rem;
  padding-top: 5rem;
}

.manage-staff-heading,
.manage-customer-heading,
.manage-Movie-heading,
.manage-TvSeries-heading,
.manage-TvSeriesEpisodes-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-staff-heading > div,
.manage-customer-heading > div,
.manage-Movie-heading > div,
.manage-TvSeries-heading > div,
.manage-TvSeriesEpisodes-heading > div {
  margin: 0 1rem;
}

.add-member-btn,
.add-customer-btn,
.add-Movie-btn,
.add-TvSeries-btn,
.add-TvSeriesEpisodes-btn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.add-member-btn input,
.add-customer-btn input,
.add-Movie-btn input,
.add-TvSeries-btn input,
.add-TvSeriesEpisodes-btn input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.add-member-btn input:hover,
.add-customer-btn input:hover,
.add-Movie-btn input:hover,
.add-TvSeries-btn input:hover,
.add-TvSeriesEpisodes-btn input:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--color-green);
}

.manage-staff-grid,
.manage-customer-grid,
.manage-Movie-grid,
.manage-TvSeries-grid,
.manage-TvSeriesEpisodes-grid {
  margin-top: 1rem;
}

.add-new-staff-member,
.update-staff-member,
.add-new-customer,
.update-customer,
.add-new-Movie,
.update-Movie,
.add-new-TvSeries,
.update-TvSeries,
.add-new-TvSeriesEpisodes,
.update-TvSeriesEpisodes {
  width: 30%;
  margin: 0 0 3rem 0;
  display: none;
  transition: display 0.5s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}

.manage-staff-title,
.manage-customer-title,
.manage-Movie-title,
.manage-TvSeries-title,
.manage-TvSeriesEpisodes-title {
  color: var(--citrine);
}

.card {
  width: 30%;
  margin: 0 auto;
  background-color: var(--white);
  max-height: 80vh; /* Set maximum height to 90% of the viewport height */
  overflow-y: auto; /* Enable card content scrolling */
  background: radial-gradient(
        178.94% 106.41% at 26.42% 106.41%,
        #cccccc 0%,
        rgba(255, 255, 255, 0) 71.88%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffffff !important;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1) !important;
}

.show {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.card-heading {
  margin: 0 1rem 2rem;
}

.card-heading p {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  color: #26a69a !important;
}

.submit-btn {
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--white);
  background-color: #26a69a;
  opacity: 0.8;
}

.submit-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.email-column {
  word-break: break-all;
}

.card-wrapper,
.card-wrapper-1,
.card-wrapper-2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper-1,
.card-wrapper-2 {
  margin-top: 5rem;
}

.card,
.quote-card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 12px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  border-radius: 10px;
  margin: 1rem 2rem;
  padding: 2rem 3rem;
  width: 500px;
  background-color: #ffffff69;
}

.card-image {
  height: 320px;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-title {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: var(--color-green);
}

.card-content {
  margin: 1rem 0;
  font-size: 0.8rem;
  font-weight: 300;
}

input[type="button"] {
  color: var(--white);
  background-color: #26a69a;
  opacity: 0.8;
}

input[type="button"]:hover {
  color: var(--white);
  background-color: #26a69a;
  opacity: 1;
}

.table-card {
  background: radial-gradient(
        178.94% 106.41% at 26.42% 106.41%,
        #cccccc 0%,
        rgba(255, 255, 255, 0) 71.88%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffffff !important;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1) !important;
  padding: 2em;
}

table {
  border-radius: 10px !important;
}

table thead th {
  color: #26a69a;
  font-weight: bold;
}

.update-icon,
.delete-icon {
  font-size: 1.3em;
  color: #26a69a;
  font-weight: bold;
  transition: 0.1s transform linear;
}

.update-icon:hover,
.delete-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

table tbody tr {
  font-weight: 400;
}
