<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Browsing_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.bs.servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TVSeriesServlet</display-name>
    <servlet-name>TVSeriesServlet</servlet-name>
    <servlet-class>com.bs.servlet.TVSeriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TVSeriesServlet</servlet-name>
    <url-pattern>/TVSeriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.bs.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TVSeriesDetailsServlet</display-name>
    <servlet-name>TVSeriesDetailsServlet</servlet-name>
    <servlet-class>com.bs.servlet.TVSeriesDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TVSeriesDetailsServlet</servlet-name>
    <url-pattern>/TVSeriesDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFavouritesServlet</display-name>
    <servlet-name>UserFavouritesServlet</servlet-name>
    <servlet-class>com.bs.servlet.UserFavouritesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFavouritesServlet</servlet-name>
    <url-pattern>/UserFavouritesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRatings</display-name>
    <servlet-name>UserRatings</servlet-name>
    <servlet-class>com.bs.servlet.UserRatings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRatings</servlet-name>
    <url-pattern>/UserRatings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPaymentMethodServlet</display-name>
    <servlet-name>UserPaymentMethodServlet</servlet-name>
    <servlet-class>com.bs.servlet.UserPaymentMethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPaymentMethodServlet</servlet-name>
    <url-pattern>/UserPaymentMethodServlet</url-pattern>
  </servlet-mapping>
</web-app>