<!-- 
- #FOOTER COMPONENT
-->

<footer class="footer">

  <div class="footer-top">
    <div class="container">

      <div class="footer-brand-wrapper">

        <a href="../index.jsp" class="logo">
          <img src="../assets/images/logo.svg" alt="Filmlane logo">
        </a>

        <ul class="footer-list">

          <li>
            <a href="../index.jsp" class="footer-link">Home</a>
          </li>

          <li>
            <a href="#" class="footer-link">Movie</a>
          </li>

          <li>
            <a href="#" class="footer-link">TV Series</a>
          </li>

          <li>
            <a href="#" class="footer-link">Trending</a>
          </li>

          <li>
            <a href="#" class="footer-link">About</a>
          </li>

        </ul>

      </div>

      <div class="divider"></div>

      <div class="quicklink-wrapper">

        <ul class="quicklink-list">

          <li>
            <a href="#" class="quicklink-link">Faq</a>
          </li>

          <li>
            <a href="#" class="quicklink-link">Help center</a>
          </li>

          <li>
            <a href="#" class="quicklink-link">Terms of use</a>
          </li>

          <li>
            <a href="#" class="quicklink-link">Privacy</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="datetime-now">
      <div class="time-now" id="time"></div>
      <div class="country-date">
        Sri Lanka <br>
        <span id="date"></span>
      </div>
    </div>
    <div class="property-details">
      <div class="copyright">
        © 2023 Movies and TV Series browsing system. All rights reserved.
      </div>
      <div class="owner">
        Design and Developed by Group SE/OOP/2023/S2/MLB/WE/G19
      </div>
    </div>
  </div>

  <!-- <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
        </p>

        <img src="./assets/images/footer-bottom-img.png" alt="Online banking companies logo" class="footer-bottom-img">

      </div>
    </div> -->

</footer>