/*-----------------------------------*\
 * #ABOUT 
\*-----------------------------------*/

main {
  min-height: 100vh;
}

.about-container {
  color: var(--white);
  background-color: var(--color-light);
  font-family: "poppins";
}

.about-item-container {
  margin: 5rem 0;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(1, 2fr 1fr);
  gap: 100px;
}

.card {
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
}

.about-heading {
  color: var(--citrine);
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.about-description {
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
  padding: 0;
}

.about-image img {
  width: 100%;
  border-radius: 5px;
}

.queries-heading {
  color: var(--citrine);
  font-size: 2.5rem;
  text-align: center;
  line-height: 45px;
}

.queries-description {
  margin: 2rem 0 0 0;
  font-size: 1rem;
  font-weight: 300;
}

.contact-heading {
  color: var(--citrine);
  font-size: 1.5rem;
}

.contact-description {
  margin: 1.5rem 0;
}

hr {
  margin-top: 20px;
  width: 100%;
}

.contact-no,
.email-address,
.address {
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0;
}

.connect-btn {
  text-align: center;
}

.connect-btn input {
  /* width: 100%;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-orange); */

  margin-top: 1.5rem;
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--citrine);
  border-radius: 50px;
  transition: var(--transition-1);
  background-color: var(--rich-black-fogra-29);
  display: flex;
  justify-content: center;
}

.connect-btn input:hover {
  cursor: pointer;
}

#map {
  height: 50vh;
  width: 30vw;
}

.leaflet-pane {
  z-index: 1 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 2 !important;
}
